<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>パスワード生成</title>
    </head>

    <body>
    <h2>パスワード生成</h2>
    <h3>「更新」ボタンを押すことで、<br>
        「a-z」「A-Z」「1-9」の中からランダムな文字列が8文字表示されます。</h3>
        <form>
            <p>パスワード<br>
            <input type="text" name="name" 
            value={{ message | random }}{{ message | random }}{{ message | random }}{{ message | random }}{{ message | random }}{{ message | random }}{{ message | random }}{{ message | random }}></p>
            <input type="button"  value="更新" onclick="re()">
        </form>

    <script>
        function re(){
            location.reload();
    }
    </script>

    </body>

</html>